JENKINS_URL="{{ jenkins_agent_recycle_jenkins_url }}"
JENKINS_USER="{{ jenkins_agent_recycle_jenkins_user }}"
JENKINS_API_TOKEN="{{ jenkins_agent_recycle_token_value }}"
JENKINS_NODE_NAME="{{ jenkins_agent_hosts_node_local.name }}"
CONTAINER_NAME="{{ jenkins_agent_hosts_container_name }}"
MIN_ONLINE_AFTER_RESTART="{{ jenkins_agent_recycle_min_online_after_restart }}"
RECONNECT_WAIT_SECONDS="{{ jenkins_agent_recycle_reconnect_wait_seconds }}"
